# Node.js
supermarket-frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
backend/__pycache__/
*.pyc
*.pyo

# Docker
*.log
.env
docker-compose.override.yml

# PostgreSQL
postgres-data/
