/* Estilos de react-slick */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

nav {
  background: #f4f4f4;
  padding: 10px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: blue;
}

button {
  padding: 5px 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background: gray;
  cursor: not-allowed;
}

h1 {
  color: #333;
}
